:root {
   --pixel-size: 2px;
   --grid-cell: calc( var(--pixel-size) * 16);
   --bg: #9fa7e4;
}
@media( min-width: 700px ) {
   :root {
      --pixel-size: 3px;
   }
}
@media( min-width: 1000px ) {
   :root {
      --pixel-size: 4px;
   }
}
/* @media( min-width: 1000px ) {
   :root {
      --pixel-size: 5px;
   }
} */

html, body {
   height: 100%;
}

body {
   background: var(--bg);
   display: flex;
   align-items: center;
   justify-content: center;
}

.pixel-art {
   image-rendering: pixelated;
}

.frame {
   /* This is just for Pen decoration */
   width: calc(var(--pixel-size) * 160);
   height: calc(var(--pixel-size) * 144);
   outline: var(--pixel-size) solid #fff;
   z-index:1; 
   position:relative;
}

.camera {
   width: calc(var(--pixel-size) * 160);
   height: calc(var(--pixel-size) * 144);
   overflow: hidden;
   background: #61ddf7;
   position:relative;
}

.map {
   image-rendering: pixelated;
   background-image: url("https://64.media.tumblr.com/087dbf5c8d44a3dba882aa5159f987b1/tumblr_inline_o47751nWfc1tmx71p_1280.png");
   background-size: 100%;
   width: calc(25 * var(--grid-cell));
   height: calc(15.4 * var(--grid-cell));
   position: relative;
}

.character {
   width: calc( var(--grid-cell)* 1 );
   height: calc( var(--grid-cell)* 1.2 );
   position: absolute;
   overflow:hidden;
}

.shadow {
   width: calc( var(--grid-cell)* 2 );
   height: calc( var(--grid-cell)* 2 );
   position: absolute;
   left:0;
   top:0;
   background: url("https://assets.codepen.io/21542/DemoRpgCharacterShadow.png") no-repeat no-repeat;
   background-size: 100%;
}

.character_spritesheet {
   position: absolute;
   background: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/e951e67563ce5de.png") no-repeat no-repeat;
   background-size: 100%;
   width: calc( var(--grid-cell)* 8 );
   height: calc( var(--grid-cell)* 8 );
}

.character[facing="right"] {
   width: calc( var(--grid-cell)* 0.67 );
   height: calc( var(--grid-cell)* 1.2 );
}
.character[facing="up"] {
   width: calc( var(--grid-cell)* 0.91 );
   height: calc( var(--grid-cell)* 1.2 );
} 
.character[facing="left"] {
   width: calc( var(--grid-cell)* 0.67 );
   height: calc( var(--grid-cell)* 1.2 );
}
.character[facing="down"] {
   width: calc( var(--grid-cell)* 0.83 );
   height: calc( var(--grid-cell)* 1.2 );
} 

.character[facing="right"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -19 );
   background-position-x: calc( var(--pixel-size) * -2);
}
.character[facing="up"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * 0 );
   background-position-x: calc( var(--pixel-size) * -63 );
}
.character[facing="left"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * -38 );
   background-position-x: calc( var(--pixel-size) * -2.7 );
}
.character[facing="down"] .character_spritesheet {
   background-position-y: calc( var(--pixel-size) * 0 );
   background-position-x: calc( var(--pixel-size) * -2.1 );
}
.character[walking-right="true"] .character_spritesheet {
   animation: walkRightAnimation 0.6s steps(4) infinite;
}

.character[walking-left="true"] .character_spritesheet {
   animation: walkLeftAnimation 0.6s steps(4) infinite;
}

.character[walking-up="true"] .character_spritesheet {
   animation: walkUpAnimation 0.6s steps(4) infinite;
}

.character[walking-down="true"] .character_spritesheet {
   animation: walkDownAnimation 0.6s steps(4) infinite;
}

@keyframes walkRightAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-33%,0%,0);
  }
}

@keyframes walkLeftAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-33%,0%,0);
  }
}

@keyframes walkDownAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-45%,0%,0);
  }
}

 @keyframes walkUpAnimation {
  from {
    transform: translate3d(0%,0%,0);
  }
  to {
    transform: translate3d(-45%,0%,0);
  }
}

.dpad {
   position:absolute;
   right: calc(var(--pixel-size) * 2);
   bottom: calc(var(--pixel-size) * 2);
   width: calc(var(--pixel-size) * 37);
   height: calc(var(--pixel-size) * 38);
}
.dpad-button {
   appearance:none;
   outline:0;
   border:0;
   background:transparent;
   padding:0;
   cursor:pointer;
}
.dpad-button svg {
   display:block;
   height: calc(var(--pixel-size) * 13);
}

.dpad-button.pressed .Arrow_arrow-inset { stroke:#07c2cc; }
.dpad-button.pressed .Arrow_arrow-body { stroke:#17dfea; }

.dpad-up {
   position: absolute;
   left: calc(var(--pixel-size) * 12);
   top:0;
}
.dpad-down {
   position: absolute;
   bottom:var(--pixel-size);
   left: calc(var(--pixel-size) * 12);
}
.dpad-left {
   position: absolute;
   top: calc(var(--pixel-size) * 12);
   left:0;
}
.dpad-right {
   position: absolute;
   top: calc(var(--pixel-size) * 12);
   right:0;
}

.dpad {
   user-select:none;
}

.corner_topleft,
.corner_topright,
.corner_bottomleft,
.corner_bottomright {
   position: absolute;
   width: var(--pixel-size);
   height: var(--pixel-size);
   background: var(--bg);
   z-index:2;
}

.corner_topleft {
   top: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}
.corner_topright {
   top: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}
.corner_bottomleft {
   bottom: calc(var(--pixel-size) * -1);
   left: calc(var(--pixel-size) * -1);
}
.corner_bottomright {
   bottom: calc(var(--pixel-size) * -1);
   right: calc(var(--pixel-size) * -1);
}

.headline {
   position:absolute;
   top:calc(var(--pixel-size) * 2);
   right:calc(var(--pixel-size) * 2);
   width: calc(var(--pixel-size) * 75)
}

.switchspritebutton {
   position: absolute;
   top: 0;
   right: 0;
   padding: 5px 10px;
   background-color: green;
   border: 2px solid green;
}

#pokeball {
   width: calc(1 * var(--grid-cell));
   position: absolute;
   top: calc( var(--pixel-size) * 65 );
   left: calc( var(--pixel-size) * 20 );
}


.dialogueBox {
   background-color: pink;
   width: calc( var(--grid-cell) * 7.0);
   height: calc( var(--grid-cell) * 2.7);
   top: calc( var(--grid-cell) * -2.9);
   position: absolute;
   left: calc( var(--grid-cell) * -0.3);
   display: inline-block;
   border: 3px solid #333333;
   font-size: 0.8rem;
   padding: 10pt;
   border-radius: 2% 6% 5% 4%/1% 1% 2% 4%;
   text-transform: uppercase;
   letter-spacing: 0.3ch;
   background: #ffffff;
 }
 .dialogueBox::before {
   content: "";
   border: 2px solid #353535;
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
   border-radius: 1% 1% 2% 4%/2% 6% 5% 4%;
 }

.characterDialogueBox {
   float: left;
   width: 36%;
   height: 100%;
}

.characterDialogueBox div {
   width: calc( var(--grid-cell) * 3);
   border: 2px solid #3a69bd;
   height: 100%;
   position: relative;
   overflow: hidden;
   left: calc( var(--grid-cell) * -.7);
   background: #c0e2ff;
}

.characterDialoguePic {
   width: 200%;
   left: calc( var(--grid-cell) * -1);
   position: relative;
}

.characterDialogue {
   overflow: hidden;
   height: 100%;
}

.clip-path {
   background-color: green;
   opacity: .5;
   position: absolute;
   width: calc(25 * var( --grid-cell));
   height: calc(15.4 * var( --grid-cell));
}