<!DOCTYPE html>
<html lang="en">
    <head>
        <title th:text=" 'what\'s the bear doing? let\'s learn about him!' "></title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="bearsecond">
            <h1 th:text= " 'This bear is ' + ${bear.shape} + 'I don\'t know how to feel about it' "></h1>
            <h1 th:text= " 'This bear weighs ' + ${bear.weight} + ' pounds!' "></h1>
            <h1 th:text= " 'Is this bear scary? ' + ${bear.scary} + '!' " ></h1>
        </div>
      
    </body>
</html>