<!DOCTYPE html> 
<html lang="en">
<head>
    <title>Create a Homework</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
    <body>
        <main class="nes-container is-rounded">
            <h3>Yep your a teacher now, create the pain.</h3>
            <form action="#" th:action="${homework.ID == null} ? @{/homework/createform} : @{/homework/updateForm}"  method="post" th:object="${homework}">
                <input type="hidden" th:field="*{ID}" th:value= "*{ID}"> 
                <table> 
                    <tr>
                        <td><label>Shape</label></td>
                        <td><input class="nes-input" type="text" th:field="*{shape}" /></td>
                    </tr>
                    <tr>
                        <td><label>Words</label></td>
                        <td><input class="nes-input" type="text" th:field="*{words}" /></td>
                    </tr>
                    <tr>
                        <td><label>Fold?</label></td>
                        <td><input class="nes-input" type="text" th:field="*{foldAction}" /></td>
                    </tr>
                    
                        <td><input class="nes-input" type="submit" value="Submit" /></td>
                    </tr>
                </table>
            </form>
        </main>
    </body>
</html>