<!DOCTYPE html> 
<html lang="en">
<head>
    <title th:text="(${bear.ID == null} ? 'Create' : 'Update') + ' a bear'"></title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
    <body>
        <main class="nes-container is-rounded">
            <h3>BIG BLACK SOmething BEAR RAWRRRR</h3>
            <form action="#" th:action="${bear.ID == null} ? @{/bear/createform} : @{/bear/updateForm}"  method="post" th:object="${bear}">
                <input type="hidden" th:field="*{ID}" th:value= "*{ID}"> 
                <table> 
                    <tr>
                        <td><label>shape</label></td>
                        <td><input class="nes-input" type="text" th:field="*{shape}" /></td>
                    </tr>
                    <tr>
                        <td><label>weight</label></td>
                        <td><input class="nes-input" type="text" th:field="*{weight}" /></td>
                    </tr>
                    <tr>
                        <td><label>scary</label></td>
                        <td><input class="nes-input" type="text" th:field="*{scary}" /></td>
                    </tr>
                    <tr>
                        <td>
                            <button id="trashbtn" type="button" class="nes-btn is-error">
                                <img id="trashbtnpic" src="https://lh3.googleusercontent.com/PGGyy6oGackOI_nOldFSZ8K_EG5aaT-NhlDmLFjDCBSWmFbdL7vhvXrg9MGiUs-DKLGGCl9i7nxVXYpJIEDU67ZsktnwskSroAmqyOZiKqyEgJtg3LKwL0X0glO1P9NVDCLASUn2=w415-h315-p-k" />
                            </button>
                        </td>
                        <td><button id="centerSubmitBtn" class="nes-btn is-primary" type="submit" value="Submit">Submit</button></td>
                    </tr>
                </table>
            </form>
        </main>
    </body>
</html>