<!DOCTYPE html>
<html lang="en">
<head>
    <title>Select the Plant You Would Like to Delete</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
</head>
    <body>
        <main>
            <h3 class="mainTitle">Click on the Pokemon You Wish to Delete</h3>
            <table>
                <tr th:each="pokemon : ${pokemonList}">
                    
                    <td><button class="delete-button" th:data-id="${PokemonWithSecondAbility.ID}">"${PokemonWithSecondAbility.name}"</button></td>
                </tr>
                <div id="loadstuffhere"></div>
            </table>
            <script type="text/javascript">
                var listOfDeleteButtons = document.getElementsByClassName("delete-button");
                for(let buttonIndex = 0; buttonIndex < listOfDeleteButtons.length; buttonIndex++) {
                    listOfDeleteButtons[buttonIndex].onclick = function() {
                        // Creates an object to send request to web server
                        var xhr = new XMLHttpRequest();
                        xhr.buttonClick = this;
                        // Right now this is a button
                        // Define the request method and url
                    }
                }
            </script>
        </main>
    </body>
</html>