<!DOCTYPE html>
<html lang="en">
    <head>
        <title th:text=" 'You\'ve created this excellent plan, let\'s taste the tears of students tonight!' "></title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="homeworksecond">
            <h1 th:text= " 'This homework shape will be ' + ${homework.shape} + 'I don\'t know how to feel about it' "></h1>
            <h1 th:text= " 'The homework has Words. This is ' + ${homework.words} + '!' "></h1>
            <h1 th:text= " 'This homework is Folded. This is ' + ${homework.foldAction} + '!' " ></h1>
            
        </div>
    </body>

</html>