<!DOCTYPE html>
<html lang="en">
    <head>
        <title th:text=" 'This is a Plant. Let.\'s learn a little more about it...' "></title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="plantsecond">
            <h1 th:text= " 'This plant smells' + ${plant.smell} + 'I don\'t know how to feel about it' "></h1>
            <h1 th:text= " 'The plant has leaves. This is' + ${plant.hasLeaves} + '!' "></h1>
            <h1 th:text= " 'This plant has roots. This is' + ${plant.hasRoots} + '!' " ></h1>
            <h1 th:text= " 'This plant can collect sunlight. This is' + ${plant.collectsSunLight} + '!' "></h1>
            <h1 th:text= " 'This plant makes glucose. This is' + ${plant.makesGlucose} + '!' "></h1>
        </div>
    </body>

</html>