<html>
    <head>
        <link rel="stylesheet" th:href="@{/css/topdownmap.css}">
    </head>
    <body>
        <div class="frame">
            <div class="corner_topleft"></div>
            <div class="corner_topright"></div>
            <div class="corner_bottomleft"> 
                <div class="dialogueBox">
                    <div class="characterDialogueBox">
                        <div>
                            <img class="characterDialoguePic" src="WhateverSpriteTheUserHoversOver">
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </body>
</html>