<!DOCTYPE html>
<html lang="en">
    <head>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>
        <title th:text=" 'This is a ' + ${pokemonsecond.name} + ' pokemon!'"></title>
    </head>
    <body>
        <main class="nes-container is-rounded">
            <div class="pokemonsecond">
                <h1 th:text="'A wild ' + ${pokemonsecond.name} + ' appears!'"></h1>
                <p th:text="'It\'s color is ' + ${pokemonsecond.color} + '.'"></p>
                <p th:text="'It\'s attack is ' + ${pokemonsecond.attack} + '.'"></p>
                <p th:text="'It\'s average size is ' + ${pokemonsecond.avgSize} + '.'"></p>
                <p th:text="'It\'s defense is ' + ${pokemonsecond.defense} + '.'"></p>
                <p th:text="'It\'s HP is ' + ${pokemonsecond.hp} + '.'"></p>
                <p th:text="'It\'s type is ' + ${pokemonsecond.pokemonType} + '.'"></p>
                <p th:text="'It\'s region is ' + ${pokemonsecond.region} + '.'"></p>
                <p th:text="'It\'s SP Attack is ' + ${pokemonsecond.spAttack} + '.'"></p>
                <p th:text="'It\'s SP Defense is ' + ${pokemonsecond.spDefense} + '.'"></p>
                <p th:text="'It\'s Speed is ' + ${pokemonsecond.speed} + '.'"></p>
                <p th:text="'It\'s type effectiveness is ' + ${pokemonsecond.typeEffectiveness} + '.'"></p>
                <p th:text="'It\'s type weakness is ' + ${pokemonsecond.typeWeakness} + '.'"></p>
                <p th:text="'It\'s first ability is ' + ${pokemonsecond.ability1} + '.'"></p>
                <p th:text="'It\'s second ability is ' + ${pokemonsecond.ability2} + '.'"></p>
            </div>
        </main>
    </body>
</html>